<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Housie</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons" />
    <link rel = "stylesheet"
    href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script> -->
    <style>
        table, tr>td{
            border: 2px solid indigo;
        }
        .highlight-picked-num{
            color: blue;
            font-size: 2rem;
        }
        .v-dialog__container{
            display: block !important;
        }
        .usedTickets-card{
            min-height: 3rem;
        }
        .usedTickets-inside-card{
            display: inline-grid;
            width: 100%;
        }
        .ticket-options{
            position: absolute;
            right: 10px;
            top: 15px;
        }
        .v-card__actions{
            margin-right: 23px;
        }
        .cards-slider{
            width: 100%;
        }
        .instructions-icon{
            position: absolute;
            right: 10px;
            top: 10px;
        }
    </style>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=ZoF2rQuV"></script>
</head>
<body>
    <div id="vue-main">
        <v-app>
            <v-container>
                <center>
                    <!-- Housie Board -->
                    <h1>Housie Board</h1>
                    <v-btn icon large class="instructions-icon" @click="showInstructions = true">
                        <v-icon large>help_outline</v-icon>
                    </v-btn>
                    <br>
                    <div>
                        <v-btn color="primary" @click="autoPick ? (!playGame ? startGame(true) : startGame(false)) : pickANumber()">
                            <v-icon color="white" v-if="autoPick" left>{{!playGame ? 'play_circle_outline' : 'pause_circle_outline'}}</v-icon>
                            {{autoPick ? (!playGame ? 'Play Game' : 'Pause Game') : 'Pick a Number'}}
                            <v-menu open-on-hover :close-on-content-click="false" origin="center center" transition="scale-transition">
                                <template v-slot:activator="{ on }">
                                    <v-btn icon dark class="pa-0" color="primary" v-on="on">
                                        <v-icon right color="white">more_vert</v-icon>
                                    </v-btn>
                                </template>
                                <v-list class="pa-0">
                                    <v-list-item @mouseout="showIntervalList = false">
                                        <v-list-title>
                                                <v-switch v-model="autoPick" label="Auto Pick" color="success" class="ma-0 my-2" dense hide-details></v-switch>
                                        </v-list-title>
                                    </v-list-item>
                                    <v-divider></v-divider>
                                    <v-list-item @mouseout="showIntervalList = false">
                                        <v-list-title>
                                                <v-switch v-model="voiceEnable" label="Enable Voice" color="success" class="ma-0 my-2" dense hide-details></v-switch>
                                        </v-list-title>
                                    </v-list-item>
                                    <v-divider></v-divider>
                                    <v-list-item v-if="autoPick" class="d-inline" @mouseover="showIntervalList = true">
                                        <v-list-title class="font-weight-black d-inline-flex py-3">
                                            Picking Interval 
                                            <v-icon>{{showIntervalList ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</v-icon>
                                        </v-list-title>
                                        <v-list-item-group v-show="showIntervalList" v-model="intervalTimeIndex">
                                            <v-list-item v-for="sec in seconds" color="darkgrey" @click="updatePickNumberTime(sec)">
                                                <v-list-item-title>{{sec}} seconds</v-list-item-title>
                                            </v-list-item>
                                        </v-list-item-group>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </v-btn>
                        <!-- <v-btn color="primary" @click="pickANumber()">Generate Number</v-btn> -->
                        <v-btn color="primary" @click="generateTicket(null)">Generate Tickets</v-btn>
                        <v-btn color="primary" @click="resetColors()">Reset Board</v-btn>
                    </div><br>
                    <div>
                        <span :id="'prev-'+index" v-for="(num,index) in previousNumbers" :class="index == (previousNumbers.length-1)? 'highlight-picked-num' : ''">
                            {{num}}
                        </span>
                    </div>
                    <v-simple-table>
                        <template>
                            <tr v-for="i in boardNumberSequence">
                                <td :id="j" class="cell pa-3 text-center" v-for="j in i">
                                    <span>{{j}}</span>
                                </td>
                            </tr>
                        </template>
                    </v-simple-table><br>
                    <!-- END - Housie Board -->

                    <!-- Generate Tickets Popup-->
                    <v-dialog v-model="showTicket" persistent width="500" height="500">
                        <v-card class="pa-3">
                            <v-card-title>How many tickets you need?</v-card-title><br>
                            <v-card-text>
                                <v-slider v-model="slider"thumb-label="always"
                                    min="1" max="20" class="cards-slider" hide-details
                                ></v-slider>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="success" @click="createTickets(slider)">Generate</v-btn>
                                <v-btn color="error" @click="showTicket = false;">Cancel</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <!-- END - Generate Tickets Popup-->

                    <!-- Instructions Popup -->
                    <v-dialog v-model="showInstructions" width="700" height="500">
                        <v-card class="pa-3">
                            <v-card-title class="headline indigo--text">Instructions</v-card-title>
                            <v-card-text>
                                <div>
                                    <p class="title font-weight-bold">How to Play:</p>
                                    <ul>
                                        <li>Every player will have a unique ticket.</li>
                                        <li>Users should check the numbers picked in housie board and tick the numbers in their ticket.</li>
                                        <li>If all the numbers of the ticket is ticked, that ticket holder is considered as Housie winner</li>
                                        <li>Remaining prizes are included depends on the team playing like,</li>
                                        <ul>
                                            <li>Love Birds - Any horizantal pair of 2 numbers of the ticket.</li>
                                            <li>Temperature - Smallest and Largest number of ticket.</li>
                                            <li>Fast Five - First five numbers of the ticket.</li>
                                            <li>3 Lines - All 5 numbers of any of 3 horizantal lines of the ticket.</li>
                                            <li>Below - All numbers between 1-49 of the ticket.</li>
                                            <li>Above - All numbers between 50-90 of the ticket.</li>
                                        </ul>
                                    </ul>
                                </div><br>
                                <div>
                                    <p class="title font-weight-bold">How to Use:</p>
                                    <p class="font-weight-bold">Play Game</p>
                                    <ul>
                                        <li>Clicking on Play Game will start the game by picking numbers automatically.</li>
                                        <li>Clicking on Pause Game will stop picking numbers.</li>
                                        <li>Clicking on 3 dots opens a menu for picking options</li>
                                        <ul>
                                            <li>Auto Pick enabled - Pick numbers one by one automatically with interval selected.</li>
                                            <li>Auto Pick disabled - Pick numbers by clicking on PICK NUMBER button.</li>
                                            <li>Voice Enabled - Speaks picked numbers.</li>
                                            <li>Pick Interval - Interval between picking numbers(available only if auto pick enabled).</li>
                                        </ul>
                                    </ul>
                                </div><br>
                                <div>
                                    <p class="font-weight-bold">Generate Tickets</p>
                                    <ul>
                                        <li>Clicking on Generate Tickets opens a popup for selecting number of tickets to be drawed.</li>
                                        <li>Clicking on Generate after selecting number of tickets from slider will generate selected number of tickets in bottom of housie board.</li>
                                    </ul><br>
                                    <div class="ml-3">
                                        <p class="font-weight-bold">Selected Tickets Panel</p>
                                        <ul>
                                            <li>Clicking on pencil icon in the panel reveals the ticket options.</li>
                                            <li>Clicking on add icon in the panel allows to add new tickets.</li>
                                            <li>Clicking on update icon in the panel updates all the selected tickets.</li>
                                            <li>Clicking on bin icon in the panel will delete all the selected tickets with confirmation.</li>
                                            <li>Clicking on arrow icon in the panel will either shows tickets panel or hides.</li>
                                        </ul>
                                    </div><br>
                                    <div class="ml-3">
                                            <p class="font-weight-bold">Tickets Options</p>
                                            <ul>
                                                <li>Clicking on pencil icon in the ticket allows to update ticket holder name.</li>
                                                <li>Clicking on update icon in the ticket updates the selected ticket values.</li>
                                                <li>Clicking on bin icon in the ticket will delete the selected ticket with confirmation.</li>
                                            </ul>
                                        </div>
                                </div><br>
                                <div>
                                    <p class="font-weight-bold">Reset Board</p>
                                    <ul>
                                        <li>Clicking on Reset Board will reset the game with confirmation.</li>
                                    </ul>
                                </div>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn text @click="showInstructions = false;" color="indigo">close</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <!-- END - Instructions Popup -->
                </center>
            </v-container>
            <v-container fluid>
                <!-- Selected Tickets Panel-->
                <v-card class="pa-3 usedTickets-card" color="indigo lighten-4" v-if="usedTickets.length > 0" >
                    <span class="title">Selected Tickets({{usedTickets.length}})</span>
                    <div class="float-right">
                        <v-icon title="Edit Tickets" v-if="!editTickets" @click="editTickets = !editTickets">create</v-icon><v-icon v-else @click="editTickets = !editTickets">clear</v-icon>
                        <v-icon title="Add Ticket" @click="generateTicket(null)">add</v-icon>
                        <v-icon title="Delete All Tickets" @click="deleteTickets('All', -1)">delete</v-icon>
                        <v-icon title="Update All" @click="regenerateTickets('All',-1)">loop</v-icon>
                        <v-icon title="Show Tickets" @click="expanded = !expanded">{{!expanded ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</v-icon>
                    </div>
                    <div v-show="expanded">
                        <v-row dense>
                            <v-col cols="6" class="pa-4" v-for="(ticket,index) in usedTickets">
                                <v-flex xs12>
                                    <v-card class="pa-3 usedTickets-inside-card">
                                        <!-- Ticket Options-->
                                        <v-layout>
                                            <span v-show="!ticket.updateTicketHolder" class="font-weight-black title align-self-end">{{ticket.name}}</span>
                                            <div v-show="editTickets">
                                                <div v-if="ticket.updateTicketHolder" class="d-inline-flex">
                                                    <v-text-field class="mt-0 pt-0" autofocus placeholder="Name" v-model="updatedTicketName"></v-text-field>
                                                    <v-btn icon><v-icon title="Save" color="success" @click="updateTicketHolderName(index)">done</v-icon></v-btn>
                                                    <v-btn icon><v-icon title="cancel" color="error" @click="ticket.updateTicketHolder = false">clear</v-icon></v-btn>
                                                </div>
                                                <div v-show="!ticket.updateTicketHolder" class="ticket-options">
                                                    <v-icon title="Edit Ticket Holder" @click="ticket.updateTicketHolder = true;updatedTicketName = ticket.name;">create</v-icon>
                                                    <v-icon title="Regenerate Ticket" @click="regenerateTickets('selfTicket',index)">loop</v-icon>
                                                    <v-icon title="Delete Ticket" @click="deleteTickets('self', index)">delete</v-icon>
                                                </div>
                                            </div>
                                        </v-layout>
                                        <!-- END - Ticket Options-->

                                        <!-- Ticket creation-->
                                        <v-flex xs12 overflow-hidden>
                                            <v-simple-table class="table-overflow">
                                                <template>
                                                    <tr v-for="i in ticket.ticket">
                                                        <td v-for="j in i">
                                                            <span v-if="j!=-1">
                                                                {{j}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </template>
                                            </v-simple-table>
                                        </v-flex>
                                        <!-- End - Ticket creation -->
                                    </v-card>
                                </v-flex>
                            </v-col>
                        </v-row>
                    </div>
                </v-card>
                <!-- END - Selected Tickets Panel-->
            </v-container>
            <p class="text-center">Created by - <span class="font-italic font-weight-black">ARJUN MAMIDI</span></p>
        </v-app>
    </div>
    <script>
        var vm = new Vue({
            el: '#vue-main',
            vuetify: new Vuetify(),
            created() {
                let num = 0;
                let internalArray = [];
                for(var i=0;i<9;i++){
                    for(var j=0;j<10;j++){
                        num++;
                        internalArray.push(num);                        
                    }
                    this.boardNumberSequence[i] = internalArray;
                    internalArray = [];
                }
                this.numbersArray = this.createNumbersArray(1, 90);
                this.getValuesFromSessionStorage();
            },
            mounted(){
                window.addEventListener('beforeunload', (event) => {
                    // // Cancel the event as stated by the standard.
                    // event.preventDefault();
                    // // Chrome requires returnValue to be set.
                    // event.returnValue = 'sure?';
                    this.persistData();
                });
            },
            data() {
                return {
                    autoPick: true,
                    voiceEnable: true,
                    playGame: false,
                    number: 0,
                    boardNumberSequence: [],
                    numbersArray: [],
                    previousNumbers: [],
                    showTicket: false,
                    ticket: [],
                    usedTickets: [],
                    expanded: false,
                    editTickets: false,
                    updatedTicketName: null,
                    slider: 1,
                    interval: null,
                    intervalTimeIndex: 0,
                    intervalTime: 4000,
                    seconds: [4,5,6,7],
                    showInstructions: false,
                    showIntervalList: false,
                }
            },
            watch: {
                autoPick(){
                    if(!this.autoPick){
                        this.startGame(false);
                    }
                }
            },
            methods: {
                // creates initial 90 numbers to get picked
                createNumbersArray(start, end){
                    let arr = [];
                    for(let i = start; i <= end; i++){
                        arr.push(i);
                    }
                    return arr;
                },

                // returns values from storage to maintain persistence
                getValuesFromSessionStorage(){
                    var self = this;
                    if(JSON.parse(sessionStorage.getItem('previousNumbers')) != null && JSON.parse(sessionStorage.getItem('numbersArray')) != null){
                        self.previousNumbers = JSON.parse(sessionStorage.getItem('previousNumbers'));
                        self.numbersArray = JSON.parse(sessionStorage.getItem('numbersArray'));
                        self.addColors();
                    }
                    if(JSON.parse(sessionStorage.getItem('usedTickets'))){
                        self.usedTickets = JSON.parse(sessionStorage.getItem('usedTickets'));
                    }
                },
                // add colors to the already picked numbers
                addColors(){
                    var self = this;
                    self.previousNumbers.forEach( (num) => {
                        setTimeout(() => {
                            document.getElementById(num).style.background = 'rgba(202, 184, 250, 0.59)';
                        }, 100);
                    });
                },

                // persist data for browser reloads
                persistData(){
                    var self = this;
                    sessionStorage.setItem('previousNumbers', JSON.stringify(self.previousNumbers));
                    sessionStorage.setItem('numbersArray', JSON.stringify(self.numbersArray));
                    sessionStorage.setItem('usedTickets', JSON.stringify(self.usedTickets));
                },

                // creates intervals for picking numbers
                startGame(action){
                    var self = this;
                    self.playGame = action;
                    if(action){
                        let msg = 'Starting Game, Get Ready Mates!!';
                        if(self.previousNumbers.length > 0){
                            msg = 'Continuing, Please check';
                        }
                        self.speak(msg, 'US English Female');
                        self.interval = setInterval(() => {
                            if(self.numbersArray.length == 0){
                                clearInterval(self.interval);
                                self.playGame = false;
                            }
                            self.pickANumber();
                        }, self.intervalTime);
                    } else{
                        self.speak('Game Paused!!!', 'US English Female');
                        clearInterval(self.interval);
                    } 
                },
                // Take a random number from numbers array
                pickANumber(){
                    var self = this;
                    if(self.numbersArray.length){
                        let index = this.getRandomNumber(0, self.numbersArray.length-1);
                        let randomNumber = self.numbersArray[index];
                        if(randomNumber > 9){
                            const speechString = randomNumber.toString().substring(0,1)+' '+randomNumber.toString().substring(1)+' . ';
                            self.speak((speechString+randomNumber), 'US English Female');
                        } else {
                            self.speak(('single number'+randomNumber.toString()), 'US English Female');
                        }
                        self.numbersArray.splice(index, 1);
                        self.previousNumbers.push(randomNumber);
                        document.getElementById(randomNumber).style.background = 'rgba(202, 184, 250, 0.59)';
                    } else{
                        self.speak('Game Completed!!!', 'US English Female');
                        window.alert('Game Completed!!!!!!');
                    }
                },
                // returns a random number within range
                getRandomNumber(min, max){
                    let step1 = max-min+1;
                    let step2 = Math.random()*step1;
                    let result = Math.floor(step2)+min;
                    return result;
                },

                // updates picking numbers interval
                updatePickNumberTime(sec){
                    var self = this;
                    self.intervalTime = sec*1000;
                    clearInterval(self.interval);
                    self.playGame = false;
                    self.startGame(true);
                },

                // creates selected number of tickets
                createTickets(count){
                    var self = this;
                    self.expanded = true;
                    const length = self.usedTickets.length;
                    for(let i=length;i<(count+length);i++){
                        self.generateTicket('noPopup');
                        self.useTicket(('User-'+(i+1)));
                    }
                    setTimeout(() => {
                        // window.scrollTo(0,(document.querySelector('#vue-main').scrollHeight - 500));
                        window.scrollTo(0, 500);
                    }, 200);
                    self.showTicket = false;
                    self.slider = 1;
                },
                // add the generated ticket into selected tickets panel
                useTicket(ticketHolder){
                    var self = this;
                    const ticketObj = {
                        name: ticketHolder,
                        ticket: self.ticket,
                        updateTicketHolder: false,
                    }
                    self.usedTickets.push(ticketObj);
                },

                // generates a ticket
                generateTicket(action){
                    var self = this;
                    if(action == null){
                        self.showTicket = true;
                    }
                    self.ticket = [
                        [-1,-1,-1,-1,-1,-1,-1,-1,-1],
                        [-1,-1,-1,-1,-1,-1,-1,-1,-1],
                        [-1,-1,-1,-1,-1,-1,-1,-1,-1]
                    ];
                    let indexMatrix = self.getIndexMatrix();
                    for(let i = 0;i < 9;i++){
                        let col = [],colIndexArray = [];
                        let max = ((i + 1) * 10) - 1, min = i * 10;
                        if(min == 0){ min = 1;};
                        if(max == 89){max = 90;};
                        let colArray = self.createNumbersArray(min,max);
                        for(let j = 0;j < 3;j++){
                            let indexArray = indexMatrix[j];
                            if(indexArray.indexOf(i) > -1){
                                let index = self.getRandomNumber(0, (colArray.length-1)); 
                                col.push(colArray[index]);
                                colArray.splice(index, 1);
                                colIndexArray.push(j);
                            }
                        }
                        col.sort();
                        let colIndex = 0;
                        colIndexArray.forEach( (index) => {
                            if(index > -1){
                                self.ticket[index][i] = col[colIndex];
                                colIndex++;
                            }
                        });
                    }
                },
                // returns indexes of the tickets
                getIndexMatrix(){
                    const self = this;
                    let indexMatrix = [];
                    for(let i = 0;i < 3;i++){
                        let indexArray = [];
                        if(i === 1){
                            const numberSequence = [0,1,2,3,4,5,6,7,8];
                            for(let j = 0; j < 5; j++){
                                // removing indexes of first row to avoid blank spaces
                                numberSequence.splice(numberSequence.indexOf(indexMatrix[0][j]), 1);
                            }
                            indexArray.push(...numberSequence);
                        }
                        while(indexArray.length < 5){
                            const randomNumber = Math.floor(Math.random() * 9);
                            if(indexArray.indexOf(randomNumber) < 0){
                                indexArray.push(randomNumber);
                                indexArray.sort();
                                indexArray = self.checkIsThreeSequence(indexArray);
                            }  
                        }
                        indexMatrix[i] = indexArray.sort();
                    }
                    return indexMatrix;
                },
                // check for love birds case => not allowing more than 2 sequence in a line
                checkIsThreeSequence(indexArray){
                    if(indexArray.length > 2){
                        for(let i = 0;i < indexArray.length - 2;i++){
                            if(indexArray[i] == indexArray[i + 1] - 1 && indexArray[i + 1] == indexArray[i + 2] - 1){
                                indexArray.splice((i+2), 1);
                                return indexArray;
                            }
                        }
                        return indexArray;
                    } else {
                        return indexArray;
                    }
                },

                // Regenerate ticket values, here "desc" describes all tickets or selected ticket to get generated
                regenerateTickets(desc, index){
                    var self = this;
                    if(desc == 'All'){
                        self.usedTickets.forEach( (ticket) => {
                            self.generateTicket('noPopup');
                            ticket.ticket = self.ticket;
                        })
                    } else if(desc == 'selfTicket'){
                        self.generateTicket('noPopup');
                        self.usedTickets[index].ticket = self.ticket;
                    }
                },

                // Delete tickets, here "desc" describes all tickets or selected ticket to get deleted
                deleteTickets(desc, ticketIndex){
                    var self = this;
                    const msg = desc == 'All' ? 'All tickets will get deleted' : 'Selected ticket will get deleted';
                    self.speak(('Warning!! '+msg), 'US English Male');
                    setTimeout(() => {
                        const ask = confirm(msg+',sure?');
                        if(ask){
                            if(desc == 'All'){
                                self.usedTickets = [];
                            } else {
                                self.usedTickets.splice(ticketIndex, 1);
                            }
                        }
                    }, 1000);
                },
                
                // updates ticket holder name
                updateTicketHolderName(index){
                    var self = this;
                    self.usedTickets[index].name = self.updatedTicketName;
                    self.usedTickets[index].updateTicketHolder = false;
                    self.updatedTicketName = null;
                },
                
                // Reset all the picked numbers and removed colors
                resetColors(){
                    var self = this;
                    self.speak('Warning!! Taken numbers will get deleted', 'US English Male');
                    setTimeout(() => {
                        const ask = confirm('Taken numbers will get deleted,sure?');
                        if(ask){
                            const list = document.querySelectorAll('.cell');
                            list.forEach((element) => {
                                element.style.background = 'white';
                            });
                            this.numbersArray = this.createNumbersArray(1, 90);
                            this.previousNumbers = [];
                        }    
                    }, 1000);
                },

                // Voice
                speak(msg, voice){
                    var self = this;
                    if(self.voiceEnable){
                        responsiveVoice.speak(msg, voice);
                    }
                }
            }
        })
    </script>
</body>
</html>