<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Housie</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons" />
    <link rel = "stylesheet"
    href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <style>
        table, tr>td{
            border: 2px solid indigo;
        }
        .highlight-picked-num{
            color: blue;
            font-size: 2rem;
        }
        .v-dialog__container{
            display: block !important;
        }
        .usedTickets-card{
            min-height: 3rem;
        }
        .usedTickets-inside-card{
            display: inline-grid;
        }
    </style>
</head>
<body>
    <div id="vue-main">
        <v-app>
            <v-container>
                <center>
                    <h1>Housie Board</h1><br>
                    <div>
                        <v-btn color="primary" @click="pickANumber()">Generate Number</v-btn>
                        <v-btn color="primary" @click="generateTicket()">Generate Ticket</v-btn>
                        <v-btn color="primary" @click="resetColors()">Reset Board</v-btn>
                    </div><br>
                    <div>
                        <span :id="'prev-'+index" v-for="(num,index) in previousNumbers" :class="index == (previousNumbers.length-1)? 'highlight-picked-num' : ''">
                            {{num}}
                        </span>
                    </div>
                    <v-simple-table>
                        <template>
                            <tr v-for="i in numberSequence">
                                <td :id="j" class="cell pa-3 text-center" v-for="j in i">
                                    <span>{{j}}</span>
                                </td>
                            </tr>
                        </template>
                    </v-simple-table><br>
                    <v-dialog v-model="showTicket" width="500" height="500">
                        <v-card class="pa-3">
                            <v-layout>
                                <span class="font-weight-black title align-self-end">Housie Ticket - {{Math.floor(Math.random()*500)}}</span>
                                <v-spacer></v-spacer>
                                <v-btn icon small dark color="indigo" @click="showTicket = false;">
                                    <v-icon color="indigo">clear</v-icon>
                                </v-btn>
                            </v-layout>
                            <v-simple-table>
                                <template>
                                    <tr v-for="i in ticket">
                                        <td v-for="j in i">
                                            <span v-if="j!=-1">
                                                {{j}}
                                            </span>
                                        </td>
                                    </tr>
                                </template>
                            </v-simple-table>
                            <div v-if="addName" class="mt-2 pt-2 d-flex">
                                <v-text-field class="mt-0 pt-0" placeholder="Name" v-model="ticketHolder"></v-text-field>
                                <v-btn icon><v-icon color="success" @click="useTicket()">done</v-icon></v-btn>
                                <v-btn icon><v-icon color="error" @click="resetData()">clear</v-icon></v-btn>
                            </div>
                            <v-card-actions v-show="!addName">
                                <v-spacer></v-spacer>
                                <v-btn text medium color="indigo" @click="generateTicket()">Regenerate Ticket</v-btn>
                                <v-btn text medium color="indigo" @click="addTicketHolder()">Use</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </center>
            </v-container>
            <v-container fluid>
                <v-card class="pa-3 usedTickets-card" color="indigo lighten-4" v-if="usedTickets.length > 0" >
                    <v-icon @click="expanded = !expanded" class="float-right">keyboard_arrow_down</v-icon>
                    <div v-show="expanded">
                        <v-row dense>
                            <v-col cols="4" class=" pa-4 d-flex" v-for="ticket in usedTickets">
                                <v-card class="pa-3 usedTickets-inside-card">
                                    <span class="text-center font-weight-black">{{ticket.name}}</span>
                                    <v-simple-table>
                                        <template>
                                            <tr v-for="i in ticket.ticket">
                                                <td v-for="j in i">
                                                    <span v-if="j!=-1">
                                                        {{j}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </template>
                                    </v-simple-table>
                                </v-card>
                            </v-col>
                        </v-row>
                    </div>
                </v-card>
            </v-container>
            <p class="text-center">Created by - <span class="font-italic font-weight-black">ARJUN MAMIDI</span></p>
        </v-app>
    </div>
    <script>
        var vm = new Vue({
            el: '#vue-main',
            vuetify: new Vuetify(),
            created() {
                let num = 0;
                let internalArray = [];
                for(var i=0;i<9;i++){
                    for(var j=0;j<10;j++){
                        num++;
                        internalArray.push(num);                        
                    }
                    this.numberSequence[i] = internalArray;
                    internalArray = [];
                }
                this.numbersArray = this.createNumbersArray(1, 90);
            },
            data() {
                return {
                    number: 0,
                    numberSequence: [],
                    numbersArray: [],
                    previousNumbers: [],
                    showTicket: false,
                    ticket: [],
                    addName: false,
                    ticketHolder: null,
                    usedTickets: [],
                    expanded: false,
                }
            },
            methods: {
                getRandomNumber(min, max){
                    let step1 = max-min+1;
                    let step2 = Math.random()*step1;
                    let result = Math.floor(step2)+min;
                    return result;
                },
                createNumbersArray(start, end){
                    let arr = [];
                    for(let i = start; i <= end; i++){
                        arr.push(i);
                    }
                    return arr;
                },
                pickANumber(){
                    var self = this;
                    if(self.numbersArray.length){
                        let index = this.getRandomNumber(0,self.numbersArray.length-1);
                        let randomNumber = self.numbersArray[index];
                        self.numbersArray.splice(index, 1);
                        self.previousNumbers.push(randomNumber);
                        document.getElementById(randomNumber).style.background = 'rgba(202, 184, 250, 0.59)';
                    } else{
                       window.alert('Game Completed!!!!!!');
                    }
                },
                resetColors(){
                    const ask = confirm('Are you sure?');
                    if(ask){
                        const list = document.querySelectorAll('.cell');
                        list.forEach((element) => {
                            element.style.background = 'white';
                        });
                        this.numbersArray = this.createNumbersArray(1, 90);
                        this.previousNumbers = [];
                    }
                },
                generateTicket(){
                    var self = this;
                    self.showTicket = true;
                    self.resetData();
                    self.ticket = [
                        [-1,-1,-1,-1,-1,-1,-1,-1,-1],
                        [-1,-1,-1,-1,-1,-1,-1,-1,-1],
                        [-1,-1,-1,-1,-1,-1,-1,-1,-1]
                    ];
                    let indexMatrix = self.getIndexMatrix();
                    for(let i = 0;i < 9;i++){
                        let col = [],colIndexArray = [];
                        for(let j = 0;j < 3;j++){
                            let indexArray = indexMatrix[j];
                            if(indexArray.indexOf(i) > -1){
                                let max = (i + 1) * 10, min = i * 10;
                                if(min == 0){ min = 1};
                                let randomNumber = Math.floor(Math.random() * (max - min)) + min;
                                if(col.indexOf(randomNumber) < 0){
                                    col.push(randomNumber);
                                } else {
                                    while(col.indexOf(randomNumber) > -1){
                                        randomNumber = Math.floor(Math.random() * (max - min)) + min;
                                    }
                                    col.push(randomNumber);
                                }
                                colIndexArray.push(j);
                            }
                        }
                        col.sort();
                        let colIndex = 0;
                        colIndexArray.forEach( (index) => {
                            if(index > -1){
                                self.ticket[index][i] = col[colIndex];
                                colIndex++;
                            }
                        });
                    }
                },
                getIndexMatrix(){
                    const self = this;
                    let indexMatrix = [];
                    for(let i = 0;i < 3;i++){
                        let indexArray = [];
                        if(i === 1){
                            const numberSequence = [0,1,2,3,4,5,6,7,8];
                            for(let j = 0; j < 5; j++){
                                numberSequence.splice(numberSequence.indexOf(indexMatrix[0][j]), 1);
                            }
                            indexArray.push(...numberSequence);
                        }
                        while(indexArray.length < 5){
                            const randomNumber = Math.floor(Math.random() * 9);
                            if(indexArray.indexOf(randomNumber) < 0){
                                indexArray.push(randomNumber);
                                indexArray.sort();
                                indexArray = self.checkIsThreeSequence(indexArray);
                                // if(i === 0 && indexArray.length === 5 && self.isAllEven(indexArray)){
                                //     // change to odd 
                                //     indexArray.splice(indexArray.indexOf(8), 1);
                                //     indexArray.push(7);
                                // }  
                            }  
                        }
                        indexMatrix[i] = indexArray.sort();
                    }
                    return indexMatrix;
                },
                checkIsThreeSequence(indexArray){
                    if(indexArray.length > 2){
                        for(let i = 0;i < indexArray.length - 2;i++){
                            if(indexArray[i] == indexArray[i + 1] - 1 && indexArray[i + 1] == indexArray[i + 2] - 1){
                                indexArray.splice((i+2), 1);
                                return indexArray;
                            }
                        }
                        return indexArray;
                    } else {
                        return indexArray;
                    }
                },
                // isAllEven(indexArray){
                //     for(let i = 0; i < indexArray.length; i++){
                //         if(indexArray[i]%2 != 0){
                //             return false;
                //         }
                //     }
                //     return true; // 0, 2, 4, 6, 8
                // },
                addTicketHolder(){
                    var self = this;
                    self.addName = true;
                },
                useTicket(){
                    var self = this;
                    const ticketObj = {
                        name: self.ticketHolder,
                        ticket: self.ticket,
                    }
                    self.usedTickets.push(ticketObj);
                    self.generateTicket();
                    self.resetData();
                    // self.showTicket = false;
                },
                resetData(){
                    var self = this;
                    self.ticketHolder = null;
                    self.addName = false;
                }
            }
        })
    </script>
</body>
</html>
